<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Wyszukiwarka gry-online.pl</title>
    </head>
    <body>
    <br><br><br><br><br>
        <div class="row">
            <div class="col-sm-4">.</div>
            <div class="col-sm-4">
                <form action="/">
                    <div class="input-group input-group-lg">
                        <input id="search" type="text" class="form-control" name="search" placeholder="Wyszukaj">
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </body>
</html>